<div class="test" *ngIf="currentTest && currentTest.isCompleted && currentTest.result === 0">
  <button type="button" class="test-btn btn btn-primary" (click)="onStartTest()">Начать тест</button>
</div>


<div class="testCurrent" *ngIf="currentTest && !currentTest.isCompleted && currentTest.currentValue > 0">
  <div class="progress" #progress>
    <div class="progress-bar" role="progressbar"
         [style.width.px]="progress.offsetWidth/100 * ((currentTest.currentValue/currentTest.maxValue) * 100)"
         aria-valuenow="0"></div>
  </div>
</div>

<div class="testResult" *ngIf="currentTest && currentTest.isCompleted && currentTest.result !== 0">
  <div class="container">
    <div class="row">
      <div class="col-12 justify-content-center col-sm-9 justify-content-sm-start d-flex align-items-center pr-none">
        <span class="testResult-text">Результат теста линии: <b>{{currentTest.result}} импульсов</b></span>
      </div>
      <div class="col-12 text-center col-sm-3 pl-none">
        <button type="button" class="btn btn-light testResult-btnClear" (click)="onFinishTest()">Очистить</button>
      </div>

    </div>
  </div>
</div>

